<div id='sidebar'>

<aside class='navigation'>
	<nav>
		<ul>
          <div class='logo'><strong><li><%= link_to 'Looksee', root_path %></li></strong></div>
          <br>
          <br>

        	<li><%= link_to 'Home', root_path %></li>
            <li>Galleries</li>
            	<ul class='drop'>
            	<li><%= link_to '50s', fifties_path %></li>
            	<li><%= link_to '60s', sixties_path %></li>
            	<li><%= link_to '70s', seventies_path %></li>
              <li><%= link_to '80s', eighties_path %></li>
              <li><%= link_to '90s', nineties_path %></li>
              <li><%= link_to '00s', twothou_path %></li>
              <li><%= link_to '10s', twothouten_path %></li>
            	</ul>
                <br>
                <br>

            <li>Connect with us!</li>
            <br>

            <a href="https://github.com/sofiagarcia/looksee" target="_blank"><img src="http://i229.photobucket.com/albums/ee313/abyles/5511439e-087e-4434-a0b3-75732ec4d644.png" border="0" alt=" photo 5511439e-087e-4434-a0b3-75732ec4d644.png"/></a>

            <a href="https://instagram.com/sofiagarcia/" target="_blank"><img src="http://i229.photobucket.com/albums/ee313/abyles/05955ac9-16f0-43bd-820a-696f4d87fd86.png" border="0" alt=" photo 05955ac9-16f0-43bd-820a-696f4d87fd86.png"/></a>

        </ul>
	</nav>
</aside>

</div>

<section class="intro">
    <h1> About </h1>
			<p>   Looksee is an archive dedicated to the history of computer-generated art. Starting with the first ‘digital abstractions’ from 1950 to Google’s Deep Dream software of today, our mission is to document the interaction between technology and human creativity. We encourage you and the community to contribute meaningful and informative content dedicated to the history of digital art. Feel free to explore our collections for inspiration. Go ahead, take a looksee.</p>
			<%= button_to "Explore >", images_path, method: :get, class: "btn btn-default btn-lg" %>
</section>
