<div id='sidebar'>

<aside class='navigation'>
  <nav>
    <ul>
      <div class='logo'><strong><li><%= link_to 'Looksee', root_path %></li></strong></div>
      <br>
      <br>

      <li><%= link_to 'Home', root_path %></li>
        <li>Galleries</li>
              <ul class='drop'>
              <li><%= link_to '50s', fifties_path %></li>
              <li><%= link_to '60s', sixties_path %></li>
              <li><%= link_to '70s', seventies_path %></li>
              <li><%= link_to '80s', eighties_path %></li>
              <li><%= link_to '90s', nineties_path %></li>
              <li><%= link_to '00s', twothou_path %></li>
              <li><%= link_to '10s', twothouten_path %></li>
              </ul>
                <br>
                <br>

            <li>Connect with us!</li>
            <br>

            <a href="https://github.com/sofiagarcia/looksee" target="_blank"><img src="http://i229.photobucket.com/albums/ee313/abyles/5511439e-087e-4434-a0b3-75732ec4d644.png" border="0" alt=" photo 5511439e-087e-4434-a0b3-75732ec4d644.png"/></a>

            <a href="https://instagram.com/sofiagarcia/" target="_blank"><img src="http://i229.photobucket.com/albums/ee313/abyles/05955ac9-16f0-43bd-820a-696f4d87fd86.png" border="0" alt=" photo 05955ac9-16f0-43bd-820a-696f4d87fd86.png"/></a>

        </ul>
  </nav>
</aside>

</div>


<p id="notice"><%= notice %></p>

<section class="intro">

    <h1> 1990's Gallery </h1>


    <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @images90s.each do |image| %>
      <tr>
        <td><%= image.title %></td>
        <td><%= image.description %></td>
        <td><%= image.year %></td>
        <td><%= image_tag image.picture.url(:preview) %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>



</section>
